
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

body{
    font-family: 'Lato', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav_top {
    background: #0dbbff;
  }
  .nav_top ul li {
    display: inline-block;
    color: #fff;
    padding: 8px 15px;
    font-size: 12px;
  }
  .nav_top ul li:nth-child(-n+2) {
    float: right;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li:nth-child(n+2) {
    float: right;
  }
  nav ul li {
    padding: 15px;
  }
  nav ul li:nth-child(2) {
    padding-top: 11px;
  }
  .Header_Section nav {
    background: #142242;
    color: #fff;
  }
  .n-title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .banner{
      background: url(https://img.freepik.com/free-photo/female-logo-designer-working-her-tablet-connected-laptop_23-2149119262.jpg);
      background-position-x: 0%;
      background-position-y: 0%;
      background-repeat: repeat;
      background-size: auto;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      min-height: 430px;
      position: relative;
      background-position-y: -90px;
  }
  .banner .con_text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }  
  .banner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000ad;
  }
  .banner .con_text h2{
    font-weight: 700;
    margin-bottom: 25px;
  }
  .highlight {
    color: #0dbbff !important;
  }
  .delivery .card-img-top {
    width: 40px;
  }
  .delivery {
    background: #b8ebff1c;
    padding: 30px 0;
  }
  .delivery .del_img {
    width: fit-content;
    padding: 20px;
    border: solid 6px #0dbbff;
    border-radius: 50px;
    background-color: #fff;
    position: relative;
  }
  .delivery .del_img::after {
    content: "";
    position: absolute;
    background: #0dbbff85;
    width: 104px;
    height: 104px;
    left: -12px;
    top: -12px;
    z-index: -1;
    padding: 20px;
    border-radius: 100px;
  }
  .delivery .del_img::before {
    content: "";
    position: absolute;
    background: #0dbbff4a;
    width: 114px;
    height: 114px;
    left: -17px;
    top: -17px;
    z-index: -6;
    padding: 20px;
    border-radius: 100px;
  }
  .ot_courses h4 {
    font-weight: 700;
    margin-top: 50px;
  }
  .carousel-3d-container figure {
    margin:0;
  }
  .carousel-3d-container figcaption {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    bottom: 0;
    position: absolute;
    bottom: 0;
    padding: 15px;
    font-size: 12px;
    min-width: 100%;
    box-sizing: border-box;
  }
  .carousel-3d-slide img {
    object-fit: cover;
    height: 270px;
  }
  section.carousel,  section.subscribe {
    margin-top: 80px;
  }

  .subscribe {
    background: #0dbbff;
    padding: 30px 0;
  }
  .subscribe h3{
    font-weight: 700;
  }
  .subscribe h3 span{
    color: #fff;
  }

  .card_cus {
    background: #eee;
    padding: 45px;
    border-radius: 8px;
    font-weight: 200;
    position: relative;
    margin: 15px;
  }
  .card_cus::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: #eee;
    bottom: -7px;
    left: 0;
    right: 0;
    margin: auto;
    transform: rotate(45deg);
  }
  .review_main .profile img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50px;
    margin-top: 30px;
  }
  .review_main .profile .user_name {
    font-weight: bold;
    margin-top: 5px;
    display: block;
  }
  .card_cus.two{
    transform: scale(1.1);
    background-color: #0dbbff;
    color: #fff;
  }
  .card_cus.two::before {
    background-color: #0dbbff;
  }
  .bg_light {
    background: #b8ebff2e;
  } 

  .logo ul li img {
    width: 45px;
    display: inline-block;
  }
  .logo ul li  {
    display: inline-block;
    padding: 0 25px;
  }
  footer{
    padding: 16px;
    background: #142242;
    text-align: center;
    color: #fff;
    font-size: 12px;
  }