<template>
  <div class="Header_Section">
    <div class="nav_top">
      <ul class="container mb-0">
        <li><b-icon icon="cart3"></b-icon> Cart</li>
        <li><b-icon icon="person-fill"></b-icon> Account Sign</li>
        <li><b-icon icon="phone"></b-icon> +91 987654323</li>
        <li><b-icon icon="mailbox"></b-icon> sample@gmail.com</li>
        <li><b-icon icon="clock"></b-icon> July - Tue 9.00 - 12.00</li>
      </ul>
    </div>

    <nav>
      <ul class="container mb-0">
        <li>Logo</li>
        <li>
          <b-input-group size="sm"
            ><b-input-group-text
              ><b-icon icon="search"></b-icon
            ></b-input-group-text>
            <b-form-input></b-form-input>
          </b-input-group>
        </li>
        <li>Find Training</li>
        <li>Teach</li>
        <li>Subscription</li>
        <li>Hot Deals</li>
        <li>Home</li>
      </ul>
    </nav>
  </div>
</template>

<script>
export default {
  name: "header_file",
};
</script>