<template>
  <div class="main">
    <Header />

    <!-- Banner_Section -->
    <section class="banner">
      <div class="con_text container w-50 text-center">
        <div class="n-title">We are Certified Teachers</div>
        <h2 class="mt-1">
          OPTIMIZE IT PERFORMANCE <br />
          <Span class="highlight">& CAREER GROWTH</Span>
        </h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
          earum provident perferendis esse aspernatur ullam perspiciatis
          temporibus. Impedit natus eum molestiae rem modi ex. Quod vitae
          ducimus rem itaque. Adipisci!
        </p>

        <div class="d-flex justify-content-center mt-5" ur>
          <b-button variant="primary mx-3">SELECT PRICE</b-button>
          <b-button variant="primary mx-3">VIEW PROJECT</b-button>
        </div>
      </div>
    </section>
    <!-- Banner_Section_end -->

    <!-- Deliverables -->
    <Section class="delivery">
      <div class="container w-75 m-auto">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-12 mt-4">
            <div class="del_main d-flex justify-content-center">
              <div class="del_img">
                <img class="card-img-top" src="@/assets/logo.png" alt="" />
              </div>
            </div>
            <h6 class="title text-center mt-4">Lorem ipsum</h6>
          </div>
          <div class="col-md-3 col-sm-6 col-12 mt-4">
            <div class="del_main d-flex justify-content-center">
              <div class="del_img">
                <img class="card-img-top" src="@/assets/logo.png" alt="" />
              </div>
            </div>
            <h6 class="title text-center mt-4">Lorem ipsum</h6>
          </div>
          <div class="col-md-3 col-sm-6 col-12 mt-4">
            <div class="del_main d-flex justify-content-center">
              <div class="del_img">
                <img class="card-img-top" src="@/assets/logo.png" alt="" />
              </div>
            </div>
            <h6 class="title text-center mt-4">Lorem ipsum</h6>
          </div>
          <div class="col-md-3 col-sm-6 col-12 mt-4">
            <div class="del_main d-flex justify-content-center">
              <div class="del_img">
                <img class="card-img-top" src="@/assets/logo.png" alt="" />
              </div>
            </div>
            <h6 class="title text-center mt-4">Lorem ipsum</h6>
          </div>
        </div>
      </div>
    </Section>
    <!-- Deliverables end -->

    <!-- Our Courses -->
    <section class="ot_courses text-center container">
      <h4>OUR TOP <span class="highlight">COURSES</span></h4>

      <p class="w-75 m-auto">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
        necessitatibus quia eaque aut iusto modi quos blanditiis laborum animi
        dolorem nihil quibusdam sit voluptatum veritatis laboriosam quas,
        suscipit corrupti. A pariatur molestiae aut officiis enim. Officia omnis
        unde libero! Dolor quia inventore consequatur accusamus dicta iste
        laudantium ea sed? Expedita.
      </p>
    </section>
    <!-- Our Courses end -->

    <!-- carousel -->
    <section class="carousel">
      <div id="example" class="container">
        <carousel-3d
          :autoplay="true"
          :autoplay-timeout="3000"
          :display="5"
          :controls-visible="true"
          :clickable="false"
        >
          <slide :index="0">
            <img
              src="https://c0.wallpaperflare.com/preview/1005/983/706/business-concept-consulting-illustration.jpg"
              alt=""
            />
            <figcaption>
              The sky is the limit only for those who aren't afraid to fly! The
              sky is the limit only for those who aren't afraid to fly!
            </figcaption>
          </slide>

          <slide :index="1">
            <img
              src="https://c0.wallpaperflare.com/preview/550/573/147/business-concept-consulting-illustration.jpg"
              alt=""
            />
            <figcaption>
              The sky is the limit only for those who aren't afraid to fly! The
              sky is the limit only for those who aren't afraid to fly!
            </figcaption>
          </slide>
          <slide :index="2">
            <img
              src="https://c0.wallpaperflare.com/preview/722/962/382/learn-student-laptop-internet.jpg"
              alt=""
            />
            <figcaption>
              The sky is the limit only for those who aren't afraid to fly! The
              sky is the limit only for those who aren't afraid to fly!
            </figcaption>
          </slide>
          <slide :index="3">
            <img
              src="https://c1.wallpaperflare.com/preview/471/703/720/e-learning-training-school-online-learn-knowledge.jpg"
              alt=""
            />
            <figcaption>
              The sky is the limit only for those who aren't afraid to fly! The
              sky is the limit only for those who aren't afraid to fly!
            </figcaption>
          </slide>
          <slide :index="4">
            <img
              src="https://c1.wallpaperflare.com/preview/191/969/141/dictionary-online-technology-internet.jpg"
              alt=""
            />
            <figcaption>
              The sky is the limit only for those who aren't afraid to fly! The
              sky is the limit only for those who aren't afraid to fly!
            </figcaption>
          </slide>
        </carousel-3d>
      </div>
    </section>
    <!-- carousel end-->

    <!-- Subscribe -->
    <section class="subscribe">
      <div class="sub_main w-75 m-auto">
        <div class="row">
          <div class="col-md-6 align-self-center">
            <div class="Sub-text text-center">
              <h3 class="m-0">
                SUBSCRIBE TO OUR <br />
                <span>NEWSLETTER</span>
              </h3>
            </div>
          </div>
          <div class="col-md-6">
            <div class="sub_inputs_main">
              <div class="sub_inputs d-flex">
                <div class="input-group mb-2 mx-3">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Name"
                    aria-label="Username"
                    aria-describedby="basic-addon1"
                  />
                </div>
                <div class="input-group mb-2">
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Email"
                    aria-label="Username"
                    aria-describedby="basic-addon1"
                  />
                </div>
              </div>
              <div class="sub_inputs d-flex">
                <div class="input-group mx-3">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Message"
                    aria-label="Username"
                    aria-describedby="basic-addon1"
                  />
                </div>
                <div class="cus_btn">
                  <button type="button" class="btn btn-secondary">
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Subscribe end -->

     <!-- Reviews -->
    <section class="ot_courses text-center container">
      <h4>STUDENTS <span class="highlight">REVIEWS</span></h4>

      <p class="w-75 m-auto">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
        necessitatibus quia eaque aut iusto modi quos blanditiis laborum animi
        dolorem nihil quibusdam sit voluptatum veritatis laboriosam quas,
        suscipit corrupti.
      </p>



      <div class="review_main mt-5">
        <div class="row">
          <div class="col-md-4">
            <div class="card_cus">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor recusandae voluptatibus architecto quo eius aliquam facilis quos. Ipsa exercitationem aliquid rem culpa unde! Sunt debitis eligendi, minima nesciunt ut necessitatibus.

            </div>

            <div class="profile">
              <img src="@/assets/image/pro_1.webp" alt=""> <br>
              <label class="user_name" for="name">John</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card_cus two">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor recusandae voluptatibus architecto quo eius aliquam facilis quos. Ipsa exercitationem aliquid rem culpa unde! Sunt debitis eligendi, minima nesciunt ut necessitatibus.

            </div>

            <div class="profile">
              <img src="@/assets/image/pro_2.webp" alt=""> <br>
              <label class="user_name" for="name">John</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card_cus">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor recusandae voluptatibus architecto quo eius aliquam facilis quos. Ipsa exercitationem aliquid rem culpa unde! Sunt debitis eligendi, minima nesciunt ut necessitatibus.

            </div>

            <div class="profile">
              <img src="@/assets/image/pro_3.jpeg" alt=""> <br>
              <label class="user_name" for="name">John</label>
            </div>
          </div>
        </div>

      </div>


    </section>
    <!-- Reviews end -->

    <!-- Tech -->
    <section class="subscribe bg_light">
      <div class="sub_main w-75 m-auto">
        <div class="row">
          <div class="col-md-6 align-self-center">
            <div class="Sub-text text-center">
              <h3 class="m-0">
                OUR 
                <span class="highlight">TECHNOLOGIES</span>
              </h3>
            </div>
          </div>
          <div class="col-md-6">
            <div class="logo">
              <ul class="m-0">
                <li><img src="@/assets/image/aws-2.svg" alt=""></li>
                <li><img src="@/assets/image/jmeter.png" alt=""></li>
                <li><img src="@/assets/image/laravel-2.svg" alt=""></li>
                <li><img src="@/assets/image/magento-2.svg" alt=""></li>
                <li><img src="@/assets/image/Page-1.png" alt=""></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Tech end -->

    <footer>
      Copyright &copy; yourcomopany.com
    </footer>
  </div>
</template>

<script>
import Header from "./Header.vue";

import { Carousel3d, Slide } from "vue-carousel-3d";
export default {
  name: "HelloWorld",
  components: {
    Header,
    Carousel3d,
    Slide,
  },
  props: {
    msg: String,
  },
};
</script>

